@using System.Globalization;

@{
    int TinhTienKhuyenMai(int gia, int khuyenmai)
    {
        double a = (double)khuyenmai;
        double b = (double)gia;
        // Tính tiền sau khuyến mãi
        double tienSauKhuyenMai = b * (1 - a / 100);
        return (int)tienSauKhuyenMai;
    }
    string ConvertToCurrencyFormat(int amount)
    {
        // Sử dụng CultureInfo để định dạng số theo quy tắc của ngôn ngữ hiện tại
        CultureInfo culture = CultureInfo.CurrentCulture;

        // Chuyển đổi số thành chuỗi định dạng tiền tệ
        string formattedAmount = string.Format(culture, "{0:N0}", amount);

        // Thêm ký tự "đ" hoặc "₫" (đồng) vào cuối chuỗi
        formattedAmount += "đ";

        return formattedAmount;
    }
    int n = 0;
}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="section-title bg-white text-center px-3 " style="color:purple">Mỹ Phẩm</h6>
        </div>
        <div class="container-fluid mt-5 mb-5">
            <div class="row g-2">
                <!-- Sidebar -->
                <div class="col-md-3">
                    <div class="t-products p-2">
                        <h6 class="text-uppercase text-white pt-1">Lọc Mỹ Phẩm</h6>
                        <div class="p-lists">
                            <!-- Danh sách các sản phẩm -->
                        </div>
                    </div>

                    <!-- Danh sách Processor -->
                    <div class="processor p-2">
                        <!-- Tiêu đề Processor -->
                        <div class="heading d-flex justify-content-between align-items-center">
                            <h6 class="text-uppercase">Phân Loại</h6>
                            <span>--</span>
                        </div>

                        <!-- Danh sách các Processor -->
                        @foreach (var item in Model.ListProductType)
                        {
                            if (n == 0)
                            {
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                               id="checkbox_@item.ProductType.Id"
                                               name="selectedProductTypes"
                                               value="@item.ProductType.Id"
                                               checked="true">

                                        <label class="form-check-label" for="checkbox_@item.ProductType.Id">@item.ProductType.ProductTypeName</label>
                                    </div>
                                    <span>@item.Quantity</span>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                               id="checkbox_@item.ProductType.Id"
                                               name="selectedProductTypes"
                                               value="@item.ProductType.Id">

                                        <label class="form-check-label" for="checkbox_@item.ProductType.Id">@item.ProductType.ProductTypeName</label>
                                    </div>
                                    <span>@item.Quantity</span>
                                </div>
                            }
                            n = 1;

                        }
                    </div>
                </div>
                <!-- Main Content -->
                <div class="col-md-9">
                    <div id="showProduct" class="row g-2">
                        <!-- Danh sách sản phẩm -->
                        @foreach (var item in Model.ListProductView)
                        {
                            <div class="col-md-4 " >
                                <div class="product py-4">
                                <!-- Mức giảm giá hoặc SALE -->
                                    <span class="off bg-success">@item.Promotion%</span>
                                    <a asp-action="Detail" asp-route-id="@item.Product.Id">
                                        <div class="text-center">
                                            <!-- Hình ảnh sản phẩm -->
                                            @if (item.Images != null && item.Images.Count >= 1)
                                            {
                                                <img class="rounded-1" src="@item.Images[0].Image" width="90%" height="220px">

                                            }
                                            else
                                            {
                                                <img class="rounded-1" src="\AdminAssets\assets\img\backgrounds\ImageAdd.png" width="90%" height="220px">
                                            }
                                        </div>
                                        <div class="about text-center">
                                            <!-- Thông tin sản phẩm -->
                                            <h6 style="height:70px">@item.Product.ProductName</h6>
                                            <span class="" style="font-size:18px; font-weight:bold; color:red">@ConvertToCurrencyFormat(TinhTienKhuyenMai((int)item.Product.SellingPrice,item.Promotion))</span>
                                            <span class="ms-1 text-secondary text-decoration-line-through" style="font-size:14px">@ConvertToCurrencyFormat((int)item.Product.SellingPrice)</span>
                                        </div>
                                    </a>
                                        
                                <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center">
                                    <!-- Nút thêm vào giỏ hàng -->
                                        <a class="btn btn-primary text-uppercase" data-product-id="@item.Product.Id" onclick="changeButtonText(this)" style="border: 0">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                        }

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- / Content -->
@section Scripts {
    <link href="~/DefaultAssets/lib/productstyle/product.min.css" rel="stylesheet" />
    <link href="~/DefaultAssets/lib/productstyle/product.css" rel="stylesheet" />
    <script>

        function TinhTienKhuyenMai(gia, khuyenmai) {
            var a = khuyenmai;
            var b = gia;

            // Tính tiền sau khuyến mãi
            var tienSauKhuyenMai = b * (1 - a / 100);

            return Math.floor(tienSauKhuyenMai);
        }
        function ConvertToCurrencyFormat(amount) {
            // Sử dụng Intl.NumberFormat để định dạng số theo quy tắc của ngôn ngữ hiện tại
            var formattedAmount = new Intl.NumberFormat().format(amount);

            // Thêm ký tự "đ" hoặc "₫" (đồng) vào cuối chuỗi
            formattedAmount += 'đ';

            return formattedAmount;
        }
        function changeButtonText(element) {
            let productId = element.getAttribute("data-product-id");
            // selectedValuesJSON = JSON.stringify(productId);
            // alert(selectedValuesJSON);
            let newButtonText;
            $.ajax({
                type: "POST",
                url: "/Product/CreateShoppingCartItem",
                async: false,
                data: { id: productId },
                success: function (data) {
                    if (data == "1") {
                         newButtonText = "Đã thêm vào giỏ hàng";
                        element.setAttribute("disabled", true);
                    }
                    else if (data == "2") {
                         newButtonText = "Thêm vào giỏ hàng thất bại";
                        element.setAttribute("disabled", true);
                    }
                    else if (data == "3") {
                         newButtonText = "Sản phẩm đã có trong giỏ hàng";
                        element.setAttribute("disabled", true);
                    }
                    else {
                         newButtonText = "Lỗi";
                    }
                    element.innerText = newButtonText;
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });
        }

        function LoadListing() {
            $.ajax({
                type: "POST",
                url: "/Admin/Post/GetALL",
                datatype: "json",
                success: function (data) {
                    // Xóa dữ liệu cũ (nếu có)
                    $('#myTable').DataTable().clear().destroy();
                    // Thêm dữ liệu mới
                    $('#myTable').DataTable({
                        data: data,
                        columns: [
                            {
                                data: 'Id',
                                render: function (data, type, row) {
                                    return '<input data-checkbox-id="' + data + '" type="checkbox" />';
                                }
                            },
                            {
                                data: 'Title',
                                render: function (data, type, row) {
                                    // Sử dụng `id` để gán giá link to Detail id
                                    return '<a href="/Admin/Post/Detail/' + row.Id + '">' + data + '</a>';
                                }
                            },
                            { data: 'ViewsCount' },
                            {
                                data: 'PostTypeId',
                                render: function (data, type, row) {
                                    var n = ''; // Khởi tạo n với giá trị rỗng
                                    var other = ''; // Khởi tạo n với giá trị rỗng
                                    $.ajax({
                                        type: "POST",
                                        url: "/Admin/Post/GetPostType",
                                        datatype: "json",
                                        data: { id: data },
                                        async: false, // Đặt thành true nếu bạn muốn sử dụng callback hoặc Promise
                                        success: function (data1) {
                                            n = data1.TypeName;
                                            other = data1.Other;
                                        }
                                    });
                                    return '<p class="d-flex my-auto" title="' + other + '">' + n + '</p>';
                                }
                            },
                        ],
                    });
                }
            });
        }
        $(document).ready(function () {
            // Mảng để lưu trữ giá trị của các checkbox đã được chọn
            var selectedValues = [];

            // Lắng nghe sự kiện thay đổi của checkbox
            $('input[name="selectedProductTypes"]').change(function () {
                // Xóa tất cả các phần tử khỏi mảng
                selectedValues = [];

                // Lặp qua tất cả các checkbox đã được chọn và thêm giá trị vào mảng
                $('input[name="selectedProductTypes"]:checked').each(function () {
                    selectedValues.push(parseInt($(this).val()));
                });
                selectedValuesJSON = JSON.stringify(selectedValues);
                $.ajax({
                    type: "POST",
                    url: "/Product/GetListProductByType",
                    data: { listId: selectedValuesJSON },
                    success: function (data) {
                        // Xóa nội dung hiện tại của #showProduct
                        $("#showProduct").empty();

                        // Duyệt qua mảng dữ liệu và tạo HTML cho mỗi đối tượng
                        $.each(data, function (index, item) {
                            var productHtml = '<div class="col-md-4">' +
                                '<div class="product py-4">' +
                                '<span class="off bg-success">' + item.Promotion + '%</span>' +
                                '<a href="/Product/Detail/?id=' + item.Product.Id + '">' +
                                '<div class="text-center">' +
                                '<img class="rounded-1" src="' + item.Images[0].Image + '" width="90%" height="220px">' +
                                '</div>' +
                                '<div class="about text-center">' +
                                '<h6 style="height:60px">' + item.Product.ProductName + '</h6>' +
                                '<span style="font-size:18px; font-weight:bold; color:red">' + ConvertToCurrencyFormat(TinhTienKhuyenMai(item.Product.SellingPrice, item.Promotion)) + '</span>' +
                                '<span class="ms-1 text-secondary text-decoration-line-through" style="font-size:14px">' + ConvertToCurrencyFormat(item.Product.SellingPrice) + '</span>' +
                                '</div>' +
                                '</a>' +
                                '<div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center">' +
                                '<button class="btn btn-primary text-uppercase" style="border: 0">Add to cart</button>' +
                                '</div>' +
                                '</div>' +
                                '</div>';

                            // Thêm HTML vào #showProduct
                            $("#showProduct").append(productHtml);
                        });
                    },
                    error: function (error) {
                        console.error("Error:", error);
                    }
                });

            });


        });


    </script>
}
